
@{
    ViewBag.Title = "Theme";
    if (ViewBag.Theme != null)
    {
        Layout = ViewBag.Theme;
    }
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-sx-12">
            @Html.DropDownList("theme",
           new SelectList(new List<object>{
                 new{Id=1,Name="Admin"},
                 new{Id=2,Name="superhero"},
                 new{Id=3,Name="solar"},
                 new{Id=4,Name="united"},
                 new{Id=5,Name="darkly"},"Id","Name",1,new int[1]{1} }), new { @class = "form-control", onchange = "this.form.submit()" })

        </div>
    </div>
}

